<div class="container">
  <div id="login" class="jumbotron p-4 p-md-5 text-secondary">

<h1><%= @user.name%>'s Account</h1>

<h2>Edit your details: <h2>


<%= form_for @user do |f| %>

  Name: <%= f.text_field :name %>
  Email: <%= f.email_field :email %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  Location: <%= f.collection_select(:area_id, @areas, :id, :name) %>
  <%= f.submit %>

<% end %>
<br><br>
<%= link_to "Delete my account", user_path(@user), { method: 'delete', data: {confirm: "Are you sure you want to delete your account? This can't be reversed, you'll have to sign up again to use the app!"}} %>

  </div>
</div>
