<h1>Welcome new and hungry soul! Please sign up.</h1>

<%= form_for :user, url: '/signup' do |f| %>

  Name: <%= f.text_field :name %>
  Email: <%= f.email_field :email %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  Location: <%= f.collection_select(:area_id, @areas, :id, :name) %>
  <%= f.submit "Sign Me In!" %>

<% end %>

<% if flash[:errors] %>
    <div class="errors">
        <h4>Oops!</h4>
    <% flash[:errors].each do |error| %>
        <p><%= error %></p>
    <% end %>
    </div>
<% end %>