<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= @restaurant.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @restaurant.area.name %></h6>
    <p class="card-text">Price range: <%= @restaurant.price_name %></p>
    <p class="card-text">
        <% @restaurant.my_tags.each do |tag| %>
        <span class="badge badge-info"><%= tag.name %></span>
        <% end %>
    </p>
    <a href="<%= "https://search.google.com/local/writereview?placeid=#{@restaurant.google_id}"%>" class="card-link">
    <%= "Google reviews score: #{@restaurant.google_rating}"%>
    </a>
  </div>
</div>