<!DOCTYPE html>
<html>
  <head>
    <title>FindMyLunch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if logged_in? %>
        <%= link_to 'Find My Lunch!!', find_lunch_form_path %>
        <%= link_to 'My Account', user_path(@current_user) %>
        <%= link_to 'Log Out', logout_path %>
      <% else %>
        <%= link_to 'Log In', login_path %>
        <%= link_to 'Sign Up', signup_path %>
      <% end %>
    </nav>
    <div class="messages">
      <% if flash[:errors] %>
        <div class="errors">
          <% flash[:errors].each do |error| %>
            <p><%= error %></p>
          <% end %>
        </div>
      <% end %>
      <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
